body {
    font-family: 'Roboto', sans-serif;
    background-color: #202020;
    position: relative;
    color: white;
}


/*                                       CALLOUT */



/*                                       BOOTSTRAP */


.callout-container {
    height: 100vh;
    background: url('../images/clubCrowd.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.dot-overlay {
    background: url("../images/MyDotOverlay6x6greyAlpha50.png") center center fixed  rgba(24,24,24, 0.8);
    position: absolute;
    
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  /*  background-color: rgba(26, 26, 26, 0.7);  */
  /*   opacity: 0.7;  */
}



/*     ------------------------- About Us Section  */

/*
.video, col-xs-12, col-sm-12 {
  background-color: pink;
  padding: 0;
}
*/

td {
    white-space: nowrap;

}

.jumbotron {
    background-color: transparent;
    color: lightgray;
}


.fas fa-compact-disc {
    padding-right: 2em;
}


.dj-profile, club-scene, img {
    width: 100%;
    height: auto;
    border-radius: 15px;

}

.my-test {
    position: absolute;
    color: rgba(255,255,255,0.5);
    text-align: center;
    top: 90%;
    animation-name: jump;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    font-size: x-large;
}

/* socila icons */

ul, social-icons, li {
    display: inline-block;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    

}

.social-icons li {
    height: 50px;
    width: 50px;
    
    background-color: #5d6565;
    border-radius: 25px;
    
}

.social-btn {
    margin-right: 4rem;
    color: white;
    font-size: 1.5rem;

    
}

.social-btn i {
    margin-top: 13px;

}




/* social icons */

/*.club-scene img {
    width: 100%;
    height: auto;
}*/



/* back to top */

.scrolltop {
	display:none;
	width:100%;
	margin:0 auto;
	position:fixed;
	bottom: 0.4em;
	right: 0.5em;	
}
.scroll {
	position:absolute;
	right: 0.5em;
	bottom: 0.2em;
	background:#b2b2b2;
	background:rgba(0,0,0,0);
	padding: 5px;
	text-align: center;
	margin: 0 0 0 0;
	cursor:pointer;
	transition: 0.1s;
	-moz-transition: 0.1s;
	-webkit-transition: 0.1s;
	-o-transition: 0.1s; 		
}
.scroll:hover {
	background:rgba(0,0,0,0);
	transition: .5s;
	-moz-transition: 0.1s;
	-webkit-transition: 0.1s;
	-o-transition: 0.1s; 
	color: grey;
}
.scroll:hover .fas {
	padding-top: 0.5em;
}
.scroll .fas {
	font-size:30px;
	margin-top:-5px;
	margin-left:1px;
	transition: 0.5s;
	-moz-transition: 0.1s;
	-webkit-transition: 0.1s;
	-o-transition: 0.1s; 	
}



/* back to top end */






#About h2 {
    color: darkgrey;
}

#About p {
    color: lightgray;
}


@keyframes jump {
    from {
        top: 90%;
    }
    
    to {
        top: 91%;
    }
}


/* spinnin icon */

/* #Home i { background:rgba(0,0,0,0); } */




.footer-bottom .row {
    background-color: #303030;

}


